In [4]:
import pandas as pd
import numpy as np

item_name = ["Keyboard","Doll","Iphone 28 Pro Max"]
category = ["IT Computing","Toy","Mobile"]
price = [500,35000,800000]
cols = ['Item Name','Categories',"Pricre"]

In [7]:
item_name_serie = pd.Series(item_name)
category_serie = pd.Series(category)
price_serie = pd.Series(price)

In [8]:
frame = {"item_name":item_name_serie,"category":category_serie,"price":price_serie}

In [11]:
df = pd.DataFrame(frame);df

           item_name      category   price
0           Keyboard  IT Computing     500
1               Doll           Toy   35000
2  Iphone 28 Pro Max        Mobile  800000