In [2]:
import pandas as pd
import numpy as np
# pd.dtypes(df)
    # Object    = ชุดข้อความ
    # int64     = integer
    # float64   = float
    # bool      = boolean
    # date64    = datetime
    # timedelta[ns] = ความต่างของช่วงเวลา
    # category  = list ข้อความ 

# การหาค่าทางสถิติ
    # max()
    # min()
    # mean()
    # count()   = นับจำนวนข้อมูลทั้งหมด
    # std()     = ส่วนเบี่ยงเบนมาตรฐาน 
    # sum()

In [4]:
df = pd.read_excel("C:/Programming/Dataset/DY-SMA.xlsx",index_col='commodity');df

,date,open,high,low,close,change,change_percent,weight_price,turnover_volume,turnover_value,open_interest,delivery_side,delivery_volume
commodity,,,,,,,,,,,,,
AG9999,2017-12-28,3806.0,3806.0,3806.0,3806.0,40.0,0.0106,3806.0,600,2283600,40.0,NaN,NaN
AG9999,2017-12-27,3766.0,3766.0,3766.0,3766.0,6.0,0.0016,3766.0,270,1016820,18.0,NaN,NaN
AG9999,2017-12-26,3760.0,3760.0,3760.0,3760.0,54.0,0.0146,3760.0,6030,22672800,402.0,NaN,NaN
AG9999,2017-12-22,3706.0,3706.0,3706.0,3706.0,-4.0,-0.0011,3706.0,450,1667700,30.0,NaN,NaN
AG9999,2017-12-21,3710.0,3710.0,3710.0,3710.0,0.0,0.0000,3710.0,210,779100,14.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
IAU100G,2015-01-08,241.0,241.0,241.0,241.0,2.0,0.0084,241.0,1,144600,NaN,NaN,NaN
AG9999,2015-01-08,3530.0,3570.0,3530.0,3570.0,9.0,0.0025,3560.0,13890,49461300,926.0,NaN,NaN
AG9999,2015-01-07,3530.0,3575.0,3530.0,3563.0,56.0,0.0160,3561.0,11100,39529500,740.0,NaN,NaN
AG9999,2015-01-06,3474.0,3520.0,3473.0,3495.0,19.0,0.0055,3507.0,10770,37778100,718.0,NaN,NaN
AG9999,2015-01-05,3475.0,3490.0,3454.0,3485.0,2.0,0.0006,3476.0,12480,43387470,832.0,NaN,NaN

In [5]:
df.describe()

,date,open,high,low,close,change,change_percent,weight_price,turnover_volume,turnover_value,open_interest,delivery_side,delivery_volume
count,535,533.000000,533.000000,533.000000,533.000000,533.000000,530.000000,533.000000,5.350000e+02,5.350000e+02,417.000000,0.0,0.0
mean,2016-05-13 23:08:51.588785152,2949.530994,2954.419606,2942.332195,2948.266829,-0.446529,0.000475,2945.423621,1.842576e+04,1.535128e+07,361.664269,NaN,NaN
min,2015-01-05 00:00:00,208.010000,208.010000,200.000000,208.000000,-394.000000,-0.130800,208.000000,0.000000e+00,0.000000e+00,0.000000,NaN,NaN
25%,2015-08-13 00:00:00,3200.000000,3208.000000,3195.000000,3195.000000,-24.000000,-0.008650,3198.000000,3.000000e+01,2.216900e+05,20.000000,NaN,NaN
50%,2016-04-14 00:00:00,3505.000000,3523.000000,3500.000000,3516.000000,-0.390000,-0.000100,3510.000000,6.900000e+02,2.380800e+06,122.000000,NaN,NaN
75%,2017-01-11 12:00:00,3906.000000,3910.000000,3890.000000,3895.000000,18.000000,0.008250,3886.000000,4.665000e+03,1.679571e+07,408.000000,NaN,NaN
max,2017-12-28 00:00:00,4500.000000,4500.000000,4500.000000,4500.000000,380.000000,0.153500,4500.000000,7.595520e+06,2.487395e+08,4048.000000,NaN,NaN
std,NaN,1455.524489,1457.136161,1453.018707,1454.832328,56.436647,0.024792,1455.139732,3.283051e+05,3.044878e+07,604.668920,NaN,NaN

In [10]:
# เรียกดูค่า max ของ column ชื่อ change
df.change.max()

380.0

In [11]:
df.change.min()

-394.0

In [16]:
df.change.mean() == df.change.sum() / df.change.count()

True

In [13]:
df.change.count()

533

In [14]:
df.change.sum()

-237.99999999999997

In [17]:
df.change.std()

56.43664742948902

In [19]:
# แปลงชนิดข้อมูลเป็น category

df.change.dtypes

dtype('float64')

In [20]:
df.dtypes

date               datetime64[ns]
open                      float64
high                      float64
low                       float64
close                     float64
change                    float64
change_percent            float64
weight_price              float64
turnover_volume             int64
turnover_value              int64
open_interest             float64
delivery_side             float64
delivery_volume           float64
dtype: object

In [25]:
df.turnover_volume = df.turnover_volume.astype("category");df.turnover_volume

commodity
AG9999       600
AG9999       270
AG9999      6030
AG9999       450
AG9999       210
           ...
IAU100G        1
AG9999     13890
AG9999     11100
AG9999     10770
AG9999     12480
Name: turnover_volume, Length: 535, dtype: category
Categories (206, int64): [0, 1, 2, 3, ..., 49110, 51600, 60720, 7595520]