In [5]:
import pandas as pd
# list
datas = [10,20,30,40,50]

In [6]:
df = pd.DataFrame(datas);df

    0
0  10
1  20
2  30
3  40
4  50

In [7]:
# tuple
datas_tp = (59,35,62,99)

In [8]:
df = pd.DataFrame(datas_tp);df

    0
0  59
1  35
2  62
3  99

In [10]:
cols = ["age"] # ต้องเป็น list เท่านั้น tuple ไม่สามารถใช้ได้

df = pd.DataFrame(datas_tp,columns=cols);df

   age
0   59
1   35
2   62
3   99

In [11]:
# Multiple dimention list 
    # column 1 = items
    # column 2 = categories
    # column 3 = price
list_a = ["Keyboard","IT Computing",35000]
list_b = ["Doll","Toy",500]
list_c = ["Iphone 28 Pro Max","Phone",800000]
cols = ['Item Name','Categories',"Pricre"]
data = [list_a,list_b,list_c]
df_a = pd.DataFrame(data,columns=cols);df_a

           Item Name    Categories  Pricre
0           Keyboard  IT Computing   35000
1               Doll           Toy     500
2  Iphone 28 Pro Max         Phone  800000