In [2]:
# Multiple dimention list without zip
    # column 1 = item name
    # column 2 = catagories
    # column 3 = price
import pandas as pd
list_a = ["Keyboard","IT Computing",35000]
list_b = ["Doll","Toy",500]
list_c = ["Iphone 28 Pro Max","Mobile",800000]
cols = ['Item Name','Catagories',"Pricre"]
data = [list_a,list_b,list_c]
df_a = pd.DataFrame(data,columns=cols);df_a

           Item Name    Catagories  Pricre
0           Keyboard  IT Computing   35000
1               Doll           Toy     500
2  Iphone 28 Pro Max        Mobile  800000

In [14]:
# Multiple dimention list with zip
    # column 1 = item name
    # column 2 = catagories
    # column 3 = price
import pandas as pd
list_a = ["Keyboard","IT Computing",35000]
list_b = ["Doll","Toy",500]
list_c = ["Iphone 28 Pro Max","Mobile",800000]
cols = ['Item Name','Categories',"Pricre"]
data = list(zip(list_a,list_b,list_c))
df_a = pd.DataFrame(data,columns=cols);df_a
# เห็นจาก Output ว่า จะได้ output ?ี่ไม่สมเหตุสมผล เพราะใช้ zip
# การใช้ zip ๗ะทำให้เป็นการแยกว่่า column นั้น list นั้น ไปเลย
# เช่น list_a ก็จะได้ column แรก เพราะใส่เป็นค่าแรก

      Item Name Categories             Pricre
0      Keyboard       Doll  Iphone 28 Pro Max
1  IT Computing        Toy             Mobile
2         35000        500             800000

In [16]:
import pandas as pd
item_name = ["Keyboard","Doll","Iphone 28 Pro Max"]
category = ["IT Computing","Toy","Mobile"]
price = [500,35000,800000]
cols = ['Item Name','Categories',"Pricre"]
data = list(zip(item_name,category,price))
df_a = pd.DataFrame(data,columns=cols);df_a

           Item Name    Categories  Pricre
0           Keyboard  IT Computing     500
1               Doll           Toy   35000
2  Iphone 28 Pro Max        Mobile  800000