In [5]:
import json
import pandas as pd
import numpy as np

In [10]:
 import urllib.request
from pandas import json_normalize

url = 'https://covid19.ddc.moph.go.th/api/Cases/round-1to2-all'
fileobj = urllib.request.urlopen(url)
s = fileobj.read()
fileobj.close()
data = json.loads(s)
print(json_normalize(data)) # json_normalize คือการทำให้อ่านง่าย

    year  weeknum  new_case  total_case  new_case_excludeabroad  \
0   2020        3         0           2                       0
1   2020        3         2           2                       0
2   2020        4         4           6                       0
3   2020        4         0           4                       0
4   2020        5         0          19                       0
..   ...      ...       ...         ...                     ...
81  2021        9       424       26305                     353
82  2021       10       452       26757                     372
83  2021       11       956       27713                     899
84  2021       12       944       28657                     884
85  2021       13       206       28863                     137

    total_case_excludeabroad  new_recovered  total_recovered  new_death  \
0                          0              0                0          0
1                          0              0                0          0
2                          0              0                0          0
3                          0              0                0          0
4                          4              0                0          0
..                       ...            ...              ...        ...
81                     23474            664            25686          2
82                     23846            400            26086          2
83                     24745            426            26512          3
84                     25629            624            27136          4
85                     25766            290            27426          0

    total_death  case_foreign  case_prison  case_walkin  case_new_prev  \
0             0             0            0            0              2
1             0             2            0            0              0
2             0             4            0            0              1
3             0             0            0            0              2
4             0             0            0            0             13
..          ...           ...          ...          ...            ...
81           85            71            0          211            432
82           87            80            0          184            438
83           90            57            0          331            913
84           94            60            0          599            985
85           94            69            0           89            244

    case_new_diff  death_new_prev  death_new_diff          update_date
0              -2               0               0  2023-05-21 11:53:27
1               1               0               0  2024-08-04 14:43:25
2               3               0               0  2024-08-04 14:43:25
3              -2               0               0  2023-05-21 11:53:27
4             -13               0               0  2023-05-21 11:53:27
..            ...             ...             ...                  ...
81             -8               2               0  2024-08-04 14:43:25
82             14               1               1  2024-08-04 14:43:25
83             43               4              -1  2024-08-04 14:43:25
84            -41               3               1  2024-08-04 14:43:25
85            -38               1              -1  2024-08-04 14:43:25

[86 rows x 18 columns]

In [11]:
type(s)

bytes

In [8]:
url = 'https://covid19.ddc.moph.go.th/api/Cases/today-cases-by-provinces'
fileobj = urllib.request.urlopen(url)
s = fileobj.read()
fileobj.close()
data = json.loads(s)
print(json_normalize(data))

    year  weeknum   province  new_case  total_case  new_case_excludeabroad  \
0   2024       30      พังงา         0          15                       0
1   2024       30  สิงห์บุรี         1         154                       1
2   2024       30        เลย         6         467                       6
3   2024       30   พิษณุโลก        11         446                      11
4   2024       30  กาญจนบุรี         2          61                       2
..   ...      ...        ...       ...         ...                     ...
74  2024       30   ร้อยเอ็ด         7         472                       7
75  2024       30     ภูเก็ต         2         767                       2
76  2024       30   เชียงราย         3         176                       3
77  2024       30     กระบี่         2         189                       2
78  2024       30      ลำพูน         3         119                       3

    total_case_excludeabroad  new_death  total_death          update_date
0                         15          0            0  2024-08-04 14:43:25
1                        154          0            1  2024-08-04 14:43:25
2                        467          0            0  2024-08-04 14:43:25
3                        446          0            1  2024-08-04 14:43:25
4                         61          0           12  2024-08-04 14:43:25
..                       ...        ...          ...                  ...
74                       472          0            0  2024-08-04 14:43:25
75                       767          0            0  2024-08-04 14:43:25
76                       176          0            0  2024-08-04 14:43:25
77                       189          0            1  2024-08-04 14:43:25
78                       119          0            1  2024-08-04 14:43:25

[79 rows x 10 columns]

In [3]:
# from google.colab import files

# uploaded = files.upload()

In [9]:
import sys

from pandas import json_normalize

with open('Covid_Th.json') as f:
    edata = json.load(f)

print(json_normalize(edata))

         txn_date       province  new_case  total_case  \
0      2020-01-12         กระบี่         0           0
1      2020-01-12  กรุงเทพมหานคร         1           1
2      2020-01-12      กาญจนบุรี         0           0
3      2020-01-12      กาฬสินธุ์         0           0
4      2020-01-12      กำแพงเพชร         0           0
...           ...            ...       ...         ...
34705  2021-03-31      เพชรบูรณ์         0           4
34706  2021-03-31            เลย         0          12
34707  2021-03-31           แพร่         0           1
34708  2021-03-31     แม่ฮ่องสอน         0           5
34709  2021-03-31        ไม่ระบุ         0          12

       new_case_excludeabroad  total_case_excludeabroad  new_death  \
0                           0                         0          0
1                           0                         0          0
2                           0                         0          0
3                           0                         0          0
4                           0                         0          0
...                       ...                       ...        ...
34705                       0                         3          0
34706                       0                        12          0
34707                       0                         1          0
34708                       0                         3          0
34709                       0                         0          0

       total_death
0                0
1                0
2                0
3                0
4                0
...            ...
34705            0
34706            0
34707            0
34708            0
34709            0

[34710 rows x 8 columns]

In [13]:
df = pd.DataFrame(edata);df

,txn_date,province,new_case,total_case,new_case_excludeabroad,total_case_excludeabroad,new_death,total_death
0,2020-01-12,กระบี่,0,0,0,0,0,0
1,2020-01-12,กรุงเทพมหานคร,1,1,0,0,0,0
2,2020-01-12,กาญจนบุรี,0,0,0,0,0,0
3,2020-01-12,กาฬสินธุ์,0,0,0,0,0,0
4,2020-01-12,กำแพงเพชร,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
34705,2021-03-31,เพชรบูรณ์,0,4,0,3,0,0
34706,2021-03-31,เลย,0,12,0,12,0,0
34707,2021-03-31,แพร่,0,1,0,1,0,0
34708,2021-03-31,แม่ฮ่องสอน,0,5,0,3,0,0
34709,2021-03-31,ไม่ระบุ,0,12,0,0,0,0