Upload file on google colab

In [2]:
# from google.colab import files
# Uploaded=files.upload()
import os
os.chdir("/Users/phutharesuanwachirapisut/Programming/Dataset")

read() function

In [3]:
file=open("pokemon.txt","r") # file = 'pokemon.txt' mode = "r"
print(file.read())

หมายเลข,สายพันธุ์,ชนิด,ส่วนสูง,น้ำหนัก
252,คิโมริ,พืช,0.5,5.0
255,อาชาโม,ไฟ,0.4,2.5
258,มิซึโงโรว,น้ำ,0.4,7.6

In [4]:
file=open("pokemon.txt","r")
print(file.read(1))

ห

พิมพ์ทีละบรรทัดโดยใช้ for

In [5]:
file=open("pokemon.txt","r")
for each in file:
	print(each)

หมายเลข,สายพันธุ์,ชนิด,ส่วนสูง,น้ำหนัก

252,คิโมริ,พืช,0.5,5.0

255,อาชาโม,ไฟ,0.4,2.5

258,มิซึโงโรว,น้ำ,0.4,7.6

readline()  - อ่านข้อมูลทีละบรรทัด

In [6]:
# from google.colab import files
# Uploaded=files.upload()

In [7]:
file=open('info.txt','r')
while True:
	s=file.readline() # อ่านทีละแถวแล้วเก็บไว้ที่ s
	if s=='': #check file end
	  break
	#spliting line to key and value
	d = s.rstrip().split('=')
	print(d[0]+ ': '+d[1])


file.close()

name: Kally
surname: Brown
year: 2020
color: blue
theme: sky

write() function

In [8]:
file=open("datanew.txt","w")
file.write("หมายเลข,สายพันธุ์,ชนิด,ส่วนสูง,น้ำหนัก\n")
file.write("252,คิโมริ,พืช,0.5,5.0\n")
file.write("255,อาชาโม,ไฟ,0.4,2.5\n")
file.write("258,มิซึโงโรว,น้ำ,0.4,7.6")
file.close()

In [9]:
file=open("datanew.txt","r")
print(file.read())

หมายเลข,สายพันธุ์,ชนิด,ส่วนสูง,น้ำหนัก
252,คิโมริ,พืช,0.5,5.0
255,อาชาโม,ไฟ,0.4,2.5
258,มิซึโงโรว,น้ำ,0.4,7.6

Example : Writing to Files by function

In [10]:
def writeFile(filename,contents,mode="wt"):
	fout=None
	try:
		fout=open(filename,mode,encoding='utf-8') # mode คือการเปิดเพื่ออะไร ถ้า mode = "r" -> read, mode = "w" -> สร้างไฟล์ใหม่ หรือเขียนทับเมื่อมีชื่อไฟล์อยู่แล้ว
		fout.write(contents)
	finally:
		if(fout is not None): # เปิดไฟล์ไม่สำเร็จ
			fout.close()
	return True

writeFile("fileout.txt" ,		      # filename
		  "252,คิโมริ,plant,0.5,5.0" )	# content

True

In [11]:
def writeFile(filename,contents,mode="wt"):
	with open(filename,mode) as fout:
		fout.write(contents)
writeFile("fileout1.txt","252,คิโมริ,plant,0.5,5.0")

Example : Reading to Files by function

In [12]:
def readFile(filename, mode='r'):
	fin=contents=None
	try:
		fin=open(filename,mode,encoding='utf-8')
		contents=fin.read()
	except:
		print("The file does not exist!")
	finally:
		if(fin is not None):
			fin.close()
	return contents

data=readFile("fileout.txt")
print(data)
print("----------------------------")
print(readFile("fileout.txt"))

252,คิโมริ,plant,0.5,5.0
----------------------------
252,คิโมริ,plant,0.5,5.0

Example : Reading to Files by function

In [13]:
def readFile(filename, mode='r'):
	fin=contents=None
	try:
		with open(filename,mode,encoding='utf-8') as fin:
			contents=fin.read()
	except:
			print("The file does not exist!")
	finally:
			if(fin is not None):
				fin.close()
	return contents
print(readFile("fileout.txt"))

252,คิโมริ,plant,0.5,5.0

Reading from URL

In [14]:
import urllib.request
def readWebPage(urlStr):
	assert(urlStr.startswith("http://"))
	filehandler = contents = None
	try:
		filehandler=urllib.request.urlopen(urlStr) # open url 
		contents=filehandler.read() # read
		contents=contents.decode('utf-8') # encript
	finally:
		if(filehandler is not None): # ถ้าเปิดไฟล์สำเร็จ
			filehandler.close()
	return contents
print(readWebPage("http://www.pythons.org")[:200])

<html><head><title>www.pythons.org</title></head><body><h1>www.pythons.org</h1><p>Coming soon.</p></body></html>

Reading from URL[2]

In [15]:
import urllib.request
import contextlib

def readWebPage(url):
	assert(url.startswith("http://"))
	with contextlib.closing(urllib.request.urlopen(url)) as fin:
		return fin.read()
print(readWebPage("http://www.pythons.org")[:200])

b'<html><head><title>www.pythons.org</title></head><body><h1>www.pythons.org</h1><p>Coming soon.</p></body></html>'

Writer()

In [16]:
import csv
persons=[('Ann',1,13),('Bill',4,30), ('Tome',2,15), ('Jim',4,23)]
csvfile=open('person.csv','w',newline='')
obj=csv.writer(csvfile)
for person in persons:
	obj.writerow(person)
csvfile.close()

Reader()

In [17]:
csvfile=open('person.csv', 'r',newline='')
obj=csv.reader(csvfile)
for line in obj:
	print(line)

['Ann', '1', '13']
['Bill', '4', '30']
['Tome', '2', '15']
['Jim', '4', '23']

In [24]:
import pandas as pd
pd.read_csv("person.csv",index_col="Ann")

      1  13
Ann
Bill  4  30
Tome  2  15
Jim   4  23