Pandas Series Object

In [35]:
import pandas as pd
obj=pd.Series([3,5,-2,-8]) # แสดง series แบบ 2 column โดย column แรก คิแ column index และ column ที่ 2 คือ ค่าที่อยู่ใน list
print(obj)

0    3
1    5
2   -2
3   -8
dtype: int64

In [36]:
import pandas as pd
data=pd.Series([0.25,0.5,-0.9,0.78])
data

0    0.25
1    0.50
2   -0.90
3    0.78
dtype: float64

In [37]:
data.values

array([ 0.25,  0.5 , -0.9 ,  0.78])

In [38]:
data.index # บอก rangeindex

RangeIndex(start=0, stop=4, step=1)

In [39]:
data[0]

0.25

In [40]:
data[1:3]

1    0.5
2   -0.9
dtype: float64

The explicit index

In [41]:
data=pd.Series([0.2,0.4,0.6,0.8], index=['a','b','c','d']) # Explicit -> เป็นการให้ index เป็นค่าที่เราตั้ง แทนที่เราจะได้ใช้ integer ตามที่ตั้งตาม default
data

a    0.2
b    0.4
c    0.6
d    0.8
dtype: float64

In [42]:
data['c']

0.6

In [43]:
data=pd.Series([0.25,0.5,0.75,1.0], index=[2,5,3,7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [44]:
data[0:2] # สามารถ เรียกใช้แบบ index ปกติ ก่อน การให้ค่า index ได้ (Implicit)

2    0.25
5    0.50
dtype: float64

In [45]:
data[5] # การเรียก index ให้มอวเป็นการเรียก key เพื่อ output value ออกมา

0.5

Series as specialized dictionary

In [46]:
# สร้าง Series จาก Dictionary ทำให้ key กลายเป็น index
population_dict = {'California':38332521,'Texas':26448193,'New York':19651127,'Florida':19552860,'Illinois':12882135}
population=pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [47]:
population['California':'Illinois'] # Slicing: showing population key Califonia to Illiois

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

Pandas DataFrame Object

In [48]:
area_dict={'California':423967,'Texas':695662,'New York':141297,'Florida':170312,'Illinois':149995}
area=pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [49]:
states=pd.DataFrame({'population column':population,'area column':area}) # connect 2 series for creates a dataframe
# สังเกตว่า index เหมือนกัน โดยใช้เป็นค่า state
states

            population column  area column
California           38332521       423967
Texas                26448193       695662
New York             19651127       141297
Florida              19552860       170312
Illinois             12882135       149995

In [50]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [51]:
states.columns

Index(['population column', 'area column'], dtype='object')

In [52]:
states['area column']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area column, dtype: int64

In [53]:
population_dict={'California':38332521,'Texas':26448193,'New York':19651127,'Florida':19552860,'Illinois':12882135}
population=pd.Series(population_dict)
pd.DataFrame(population,columns=['population'])   # Another way to create Dataframe by one series

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [54]:
data=[{'a':i,'b':2*i}for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [55]:
pd.DataFrame([{'a':1,'b':2},{'b':3,'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [56]:
import numpy as np
pd.DataFrame(np.random.rand(3,2),columns=['foo','bar'], index=['a','b','c']) # สุ่มค่าแบบ 3 rows 2 columns โดนให้ชื่อ columns เป็น ['foo','bar'] ชื่อ rows เป็น ['a','b','c']

        foo       bar
a  0.276761  0.665131
b  0.928881  0.231006
c  0.931611  0.819798

In [57]:
A=np.zeros(3,dtype=[('A','i8'),('B','f8')]) # สร้าง array 0 แบบ 2D 
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [58]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

Index

In [59]:
ind=pd.Index([2,3,5,7,11])
ind

Index([2, 3, 5, 7, 11], dtype='int64')

Index as immutable array

In [60]:
ind=pd.Index([2,3,5,7,11])
ind

Index([2, 3, 5, 7, 11], dtype='int64')

In [61]:
ind[1]

3

In [62]:
ind[::2]

Index([2, 5, 11], dtype='int64')

In [63]:
print(ind.size,ind.shape,ind.ndim,ind.dtype)

5 (5,) 1 int64

In [64]:
ind[1]=0 # เดิม index[1]=3 จาก inmutable arraay ดังนั้น จึงแก้ไขไม่ได้

TypeError: Index does not support mutable operations